@page
@model Rakendus.Pages.LoansPage
@{
    ViewData["Title"] = "Index";
    ViewData["SubTitle"] = Model?.GetType()?.Name?.Replace("Page", string.Empty) ?? "Unspecified";
}
<h1>@ViewData["SubTitle"]</h1>

<p>
    <a asp-page="Create" asp-page-handler="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Items[0].LoanedDate)</th>
            <th>@Html.DisplayNameFor(model => model.Items[0].LoanedDue)</th>
            <th>@Html.DisplayNameFor(model => model.Items[0].LoanedReturned)</th>
            <th>@Html.DisplayNameFor(model => model.Items[0].OverdueFine)</th>
            <th> @Html.DisplayNameFor(model => model.Items[0].LoanedStatus)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LoanedDate)</td>
            <td> @Html.DisplayFor(modelItem => item.LoanedDue)</td>
            <td>@Html.DisplayFor(modelItem => item.LoanedReturned)</td>
            <td>@Html.DisplayFor(modelItem => item.OverdueFine)</td>
            <td>@Html.DisplayFor(modelItem => item.LoanedStatus)</td>
            <td>
              <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@item.ID">Edit</a> |
              <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@item.ID">Details</a> |
              <a asp-page="./Delete" asp-page-handler="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
